<% layout('layouts/sidebar') %> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">



<div class='row'>
    <div class="col-6 offset-3">
    
  <!-- Button trigger modal -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" id="content">
       
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Accounts</h1>
<table id="example" class="display" style="width:100%">
    <thead>
	    <tr>
         
            <th class="text-center">Username</th>
            <th>Account Type</th>
            <th>Edit</th>
            
         
	    </tr>
    </thead>
   
    </table>
 <a href="/family/"></a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
$(document).ready(function () {
  axios.get('/api/user')
  .then((res)=>{
    $("#example").DataTable({
      data:res.data,
      dom:'Bfrtip',
      "columns":[
        {"data":"username"},
        {"data":null,
         "bSortable":false,
        "mRender":function(o){
          if(o.isAdmin){
            return `<span>admin</span>`
          }else if(o.isBarangay){
            return `<span>barangay account</span>`
          }else{
             return   `<span>Staff</span>`
          }
        }},
        {
        "data":null,
        "bSortable":false,
        "mRender":function(o){
          return `<span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick=showModal("${o.username}","${o._id}")>Edit</span>`
        }
        }
      ], buttons: [
            {
                extend: 'pdfHtml5', 
              
                download: 'open',

                customize: function ( doc ) {
doc.content[1].table.widths = [
'25%',
'25%',
'10%',
'10%',
'15%',
'20%',
'0%'
]
}
            }
        ]
    })
  })
  
})
</script>
<script>

  var modal = document.getElementById("content");
  var footer =document.getElementById("footer");
  function showModal(username,id){
    modal.innerHTML=` <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" value="${username}" readonly>
          </div>
          <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control">
          </div>
        
        </div>￼
        <div class="modal-footer" id="footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick=update("${id}")>Save</button>
          
        </div>`

    
  }
  //footer.innerHTML=``
  function update(id){
  var pass =document.getElementById("password").value;
  var account =document.getElementById("account").value
    
    if(pass!==""){
      console.log(pass)
      axios.patch('/edite',{
      id:id,
      password:pass,
      account:account,
      
    }).then((res)=>{
      alert("successfully saved")
      $('#exampleModal').modal('hide')
    })
    }else{
      alert("complete the form")
    }
  }
</script>