<% layout('layouts/sidebar') %> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">



<div class='row'>
    <div class="col-6 offset-3">
    
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
   
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Accounts</h1>
<table id="example" class="display" style="width:100%">
    <thead>
	    <tr>
         
            <th class="text-center">Username</th>
            <th>Account Type</th>
            <th>Edit</th>
            
         
	    </tr>
    </thead>
   
    </table>
 <a href="/family/"></a>
</div>  