
<% layout('layouts/sidebar')%> 

<div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__title">
      <img src="/img/assets/hello.svg" alt="" />
      <div class="main__greeting">
        <h1>Hello</h1>
        <p>Welcome to your admin dashboard</p>
      </div>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    
    
    <div class="main__cards">
      <div class="card">
        <i
          class="fa fa-user-o fa-2x text-lightblue"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">TO BE EDIT</p>
          <span class="font-bold text-title">0</span>
        </div>
      </div>


      <div class="card">
        <i
          class="fa fa-bus fa-2x text-yellow"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">TO BE EDIT</p>
          <span class="font-bold text-title">3</span>
        </div>
      </div>

      <div class="card">
        <i
          class="fa fa-user-plus fa-2x text-green"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">TO BE EDIT</p>
          <span class="font-bold text-title">0</span>
        </div>
      </div>
    </div>
    <!-- MAIN CARDS ENDS HERE -->

    <!-- CHARTS STARTS HERE -->
    <div class="charts">

      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Stats Report</h1>
            <p>Pambujan N. Samar</p>
          </div>
          <i class="fa fa-tripadvisor" aria-hidden="true"></i>
        </div>

        <div class="charts__right__cards">
          <div class="card1">
            <h1>TO BE EDIT</h1>
            <p>TO BE EDIT</p>
          </div>

          <div class="card2">
            <h1>TO BE EDIT</h1>
            <p>TO BE EDIT</p>
          </div>

          <div class="card3">
            <h1>TO BE EDIT</h1>
            <p>TO BE EDIT</p>
          </div>

          <div class="card4">
            <h1>TO BE EDIT</h1>
            <p>TO BE EDIT</p>
          </div>
        </div>
      </div>
    </div>
    <!-- CHARTS ENDS HERE -->
  </div>