<% layout('layouts/sidebar')%> 

    <div class="row">
        <h1 class="text-center">Donor Information</h1>
        <div class="col-6 offset-3">
            <form action="/add" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Donator Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>  
                <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <input type="text" name="contactNumber" id="contactNumber" class="form-control">
                 </div>
                 <div class="mb-3">
                    <label for="calamity" class="form-label">Calamity</label>
                    <input type="text" name="calamity" id="calamity" class="form-control">
                </div>       
                <div class="mb-3">
                    <label for="arrDate" class="form-label">Arrival Date</label>
                    <input type="date" name="arrivalDate" id="arrDate" class="form-control">

                  
                    </div>
                    <div class="mb-3">
                        <label for="arrDate" class="form-label">Acceptance Name</label>
                        <input type="text" name="acceptName" id="acceptName" class="form-control">
                        </div>
                    <h1 class="text-center">Donation Information</h1>
                    <div class="mb-3">
                        <label for="commodityName" class="form-label">Commodity Name</label>
                        <input type="text" id="commodityName" class="form-control">
                    </div> 
                    <div class="mb-3">
                        <label for="units" class="form-label">Units</label>
                        <select id="units" class="form-select">
                            <option selected>Select Units</option>
                                <option value="kg">Kg</option>
                                <option value="pcs">pcs</option> 
                        </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number"  id="quantity" class="form-control">
                            
                        </div> 
                        <div class="mb-3">
                            <label for="exp-date" class="form-label">Expiration Date</label>
                            <input type="date"  id="exp-date" class="form-control">
                            
                        </div> 

                        
                        <button type='button' class="btn btn-success" onClick='updateForm();'>add</button>
                        <button type='button' class="btn btn-success" onClick='sendData();'>Submit</button>
                        
                        <h1 class="text-center">Donation</h1>
                <table class="table" id='results' name='table'>
                    <thead>
                      <tr>
                        <th scope="col">Commodity</th>
                
                        <th scope="col">Quantity</th>
                        <th scope="col">Units</th>
                        <th scope="col">Expiration</th>
                    </thead>
                    <tbody id="tbody">
                       
                    </tbody>
                  </table>
                
              
                </div>
                
        
        
        
        
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 

        <script>
        
            class Commodity {
                constructor(commodityName,units,quantity,expiration){
                    this.commodityName = commodityName,
                    this.quantity=quantity,
                    this.units=units
                    this.expiration=expiration
                }
            }
           
            var data=[];
            async function updateForm(){
               
                var commodityName = document.getElementById('commodityName').value;
                var units = document.getElementById('units').value;
                var quantity = document.getElementById('quantity').value;
                var expiration = document.getElementById('exp-date').value;
                
          

               
                var table = document.getElementById('results');
                if(commodityName !==""&& units !=="" && quantity !=="" && expiration !== ""){

                 var row = table.insertRow(-1);
                 var cell1 = row.insertCell(0);
                 var cell2 = row.insertCell(1);
                 var cell3 = row.insertCell(2);
                 var cell4 = row.insertCell(3);
                 cell1.innerHTML = `<input type=\"text\" name=\"commodityName\" value=\"${commodityName}\" readonly=\"readonly\">`;
                 cell2.innerHTML = `<input type=\"text\" name=\"quantity\" value=\"${parseFloat(quantity)}\" readonly=\"readonly\">`;
                 cell3.innerHTML =`<input type=\"text\" name=\"units\" value=\"${units}\" readonly=\"readonly\">`;
                 cell4.innerHTML =`<input type=\"text\" name=\"exp-data\" value=\"${expiration}\" readonly=\"readonly\">`;
                data.push(new Commodity(commodityName,units,quantity,expiration))
                //table.innerHTML+="tr"

                }else{
alert("please complete the form")
                }


                
            };

            async function sendData(){
                var table = document.getElementById('results');
                var name = document.getElementById('name').value;
                var arrivalDate = document.getElementById('arrDate').value;
                var acceptName =document.getElementById('acceptName').value;
                var calamity = document.getElementById('calamity').value;
                var row = table.insertRow(-1);
                 var cell1 = row.insertCell(0);
                 var cell2 = row.insertCell(1);
                 if(name !==""&& arrivalDate !== ""&& acceptName !=="" && calamity !=="" &&data.length !==0){
                    axios.post('/add',{
                    name: name,
                    arrivalDate:arrivalDate,
                    acceptName:acceptName,
                    calamity:calamity,
                    commodity:data,
                }).then(()=>{
                    console.log('ok')
                    alert('successfully send')
                    location.reload()
                })
                 }else{
                     alert("please complete the form")
                 }
               
                
            }

          
            
           
     
        
        </script>
            




