
<% layout('layouts/sidebar')%> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<h1 class="text-center">List Of All Stock</h1>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Commodity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="commodity">Commodity</label>
        <input type="text" id="commodity" class="form-control">
        <label for="stock">Stock Available</label>
        <input type="text" id="stock" class="form-control">
        <label for="dateEX">Expiration</label>
        <input type="date" id="dateEX" class="form-control">
        <div>
          <label for="comID">id</label>
          <input type="text" id="comID" class="form-control" readonly>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateGoods();">Save changes</button>
      </div>
    </div>
  </div>
</div>
<table  id ="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th >Commodity</th>

        <th >Stock Available</th>
        <th>Expiration</th>
        <th>Edit</th>
        <th>Remove</th>
        
      </tr>
    </thead>
    
  </table>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    
    <script>
      function getFormattedDate(date) {
    let year = date.getFullYear();
    let month = (1 + date.getMonth()).toString().padStart(2, '0');
    let day = date.getDate().toString().padStart(2, '0');
  
    return month + '/' + day + '/' + year;
}
function getFormattedDateIn(date) {
    let year = date.getFullYear();
    let month = (1 + date.getMonth()).toString().padStart(2, '0');
    let day = date.getDate().toString().padStart(2, '0');
  
    return year + '-' + month + '-' + day;
}
      $(document).ready(function(){
        axios.get('/api/stock')
        .then((res)=>{
          console.log(res.data)
          $('#example').DataTable({
            data:res.data,
            dom:'Bfrtip',
            'columns':[
              {'data':'name'},
              {'data':null,
              "bSortable":false,
              'mRender':function(o){
                return '<span>'+o.quantity+" "+o.units+'</span>'
              }
            },{
              'data':'expiration',
              
              "render": function(d) {
                    return moment(d).format("MM/DD/YYYY");
                }
            },{
              'data':null,
              "bSortable":false,
              "mRender":function(o){
                return `<button class="btn btn-success" onclick=goodData("${o._id}");>edit</button>`
              },
            },
            {
              'data':null,
              "bSortable":false,
              "mRender":function(o){
                return `<button class="btn btn-danger" onclick=deleteGood("${o._id}");>delete</button>`
              },
            },
          
            ],
            buttons: [
            {
                extend: 'pdfHtml5', 
                exportOptions: {
                    columns: [ 0,1, 2 ]
                },
                download: 'open',

                customize: function ( doc ) {
doc.content[1].table.widths = [
'50%',
'25%',
'25%',
'25%',
'10%',
'10%',
'5%'
]
}
            }
        ]
          })
        })
      })
    </script>
  <script>
     var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
     var commodity = document.getElementById("commodity");
     var stock = document.getElementById("stock");
     var comID =document.getElementById("comID")
     var dateEX = document.getElementById("dateEX")
    function goodData(id) {
      axios.get(`/goods/${id}`)
      .then((res)=>{
        console.log(res.data);
        commodity.value=`${res.data.name}`;
        stock.value=`${res.data.quantity}`;
        comID.value=`${res.data._id}`
        dateEX.value =`${getFormattedDateIn(new Date(res.data.expiration))}`
        

       myModal.show();
      })

      
    }
    function updateGoods() {
      axios.post(`/goods/${comID}`,{
        name:commodity.value,
        quantity:stock.value,
        expiration:dateEX.value,
        id:comID.value
      }).then(()=>{
        myModal.hide()
      }).then(()=>{
        window.location.reload();
      })
      
    }
  </script>
  <script>
    function deleteGood(id){
      axios.delete(`/stock/${id}`)
      .then((res)=>{
        console.log(res.data)
        alert("deleted")
        window.location.reload();
      })
    }
  </script>