
<% layout('layouts/sidebar')%> 

<h1 class="text-center">List Of All Stock</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Commodity Name</th>
        <th scope="col">Stock Available</th>
      
    </thead>
    <tbody id="tbody">
        <% for (data of stock) {%>
    <tr>
       
            <th><%=data.name  %> </th> 
            <th> <%=data.quantity  %><%=data.units%> </th>
            
       
    </tr>
    <% } %>
    </tbody>
  </table>