<nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <% if(currentUser!==null){ %> 
      <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="" srcset="" width="65" height="70"></a>
      <% } else {%>
        <a class="navbar-brand" href="/login"><img src="/assets/logo.jpg" alt="" srcset="" width="30" height="24"></a>

      <% } %> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="/">Home</a> -->

        </div>
        <div class="navbar-nav ms-auto">
          <%if(currentUser){ %> 
            <a href="/logout" class="nav-link">Logout</a>
            <%} %> 
           <a href="/login" class="nav-link">Login</a>
           
         
        </div>
      </div>
    </div>
  </nav>