<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title>WEB BASED RELIEF DISTRIBUTION AND MONITORING SYSTEM</title>
  </head>
  <body id="body">
    <div class="container1">
      <nav class="navbar">
        <div class="nav_icon" onclick="toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="navbar__left">
          <a class="active_link" href="#"><%if(currentUser.isAdmin){ %>Admin <% }else if(currentUser.isStaff) {%>Staff Account <%}else{%>asda<% } %> </a> 
          </div>  
          
      </nav>

      <main>
        <%-body%> 
      </main>

      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="/img/assets/logo.png" alt="logo" />
            <h1>GUDA</h1>
          </div>
          <i
            onclick="closeSidebar()"
            class="fa fa-times"
            id="sidebarIcon"
            aria-hidden="true"
          ></i>
        </div>
      
        <div class="sidebar__menu">
          <div class="sidebar__link >
            <i class="fa fa-home"></i>
            <a href="/">Dashboard</a>
          </div>
     
          <h2>MNG</h2>
          <% if(currentUser.isAdmin) {%> 
          <div class="sidebar__link active_menu_link"">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <a href="/add">Add Donation</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-building-o"></i>
            <a href="/view">View Donation</a>
          </div>
         
          <div class="sidebar__link">
            <i class="fa fa-archive"></i>
            <a href="/stock">View Stock</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-wrench"></i>
            <a href="#">Track Relief Goods(not working)</a>
          </div>
        <% }else if(currentUser.isStaff){ %> 
          <div class="sidebar__link">
            <i class="fa fa-handshake-o"></i>
            <a href="/staff/send">Send Goods To Barangay</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-handshake-o"></i>
            <a href="/staff/transaction">Transactions</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-handshake-o"></i>
            <a href="#">Household Head(not working)</a>
          </div>
          <% } else{%> 
          
          <% }%> 
          <h2>Dashboard Stats</h2>
          <div class="sidebar__link">
            <i class="fa fa-question"></i>
            <a href="#">To be EDIT</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-sign-out"></i>
            <a href="#">To be EDIT</a>
          </div>
          <div class="sidebar__link">
            <i class="fa ffa fa-bus "></i>
            <a href="#">To be EDIT</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-files-o"></i>
            <a href="#">To be EDIT</a>
          </div>
          <h2>Settings</h2>
          <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">to be edit</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">to be edit</a>
          </div>
          <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="/logout">Log out</a>
          </div>
        </div>
       
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/js/dashboard/script.js"></script>
  </body>
</html>
