<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/" method="post" id="form">
        <label for="name">Donator Name</label>
        <input type="text" name="name">
        <label for="contactNumber">Contact Number</label>
        <input type="text" name="contactNumber">
        <label for="status">Civil Status</label>
        <select name="civilStatus" id="status">
            <option name="single">single</option>
            <option name="married">married</option>
            <option name="annulled">annulled</option>
            <option name="widow">widow</option>
        </select>
        <div>
            <label for="name">Commodity name</label>
        <input type="text" name="commodityName">
        <label for="units">Units</label>
        <select name="units" id="units">
            <option name="kg">kg</option>
            <option name="pcs">pcs</option>
        </select>
        <label for="quantity">quantity</label>
        <input type="number" name="quantity">
        <label for="category">category</label>
        <select name="category" id="category">
            <option name="instant noodles">instant noodles</option>
            <option name="noddles">noddles</option>
            <option name="rice">rice</option>
            <option name="chicken meat">chicken meat</option>
            <option name="beef meat">beef meat</option>
            <option name="pork meat">pork meat</option>
            <option name="coffee">coffee</option>
            <option name="milk">milk</option>

        </select>
        
        </div>

        
       <input type="submit" value="submit" >
    </form>
    <script src="/js/dom.js"></script>
</body>
</html>