
<% layout('layouts/boilerplate')%> 

<h1 class="text-center">QR CODE GENERATED</h1>
<h2 class="text-center" ></h2>
<img src="<%=src%>" alt="" class="rounded mx-auto d-block"> 
<p>

</p>
    <div class="text-center">
        <a href="<%=src%>" download class="btn btn-success">Download</a>
    </div>


