<% layout('layouts/sidebar')%> 



<div class="row ">
    <h1 class='text-center'>Select Relief</h1>
    <div class='col-6 offset-3'>
        <label for="barangay" class="form-label">Select Barangay</label>
                    <select name="destination" id="barangay" class="form-select">
                        <option selected>Open this select barangay</option>
                        <% for(barangay of barangays) {%>
                            <option value="<%= barangay.name%> "><%=barangay.name%>  </option>
                            <% } %>  
                    </select>
                    <button class="btn btn-success" onClick='getData()'>Submit</button>

                    <h1 class="text-center">Relief List</h1>
                    <table class="table" id='results' name='table'>
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">Relief</th>
                    
                           
                            <th scope="col" class="text-center">Select</th>
                            
                      
                           <a ></a>
                          
                        </thead>
                        <tbody id="tbody">
                           
                        </tbody>
                      </table>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  var table =document.getElementById('results')
  var orig = table.innerHTML
    //table.innerHTML='';
        
    
  function getData(){
    

      var barangay= document.getElementById('barangay').value;
      axios.get(`/barangay/track?barangay=${barangay}`)
      .then((res)=>{
        table.innerHTML = orig
        console.log(res.data)
      
              
        for(data of res.data){
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          console.log(data)

          cell1.innerHTML = `<input type=\"text\" name=\"commodityName\" value=\"${data.name}\" readonly=\"readonly\">`;
          cell2.innerHTML = `<a href="/barangay/qrscan/${data._id}" class='btn btn-success'>Select </a>`;
          
        }
       
      })}
</script>