<% layout('layouts/sidebar')%> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">


<div class='row'>
    <div class="col-6 offset-3">
        <div class="mb-3">
            <label for="regions" class="form-label">Barangay</label>
                        <select name="destination" id="regions" class="form-select">
                            <option selected>Open this select menu</option>
                            <% for(barangay of barangays) {%>
                                <option value="<%= barangay.name%> "><%=barangay.name%>  </option>
                                <% } %>  
                        </select>
        </div>
        <input type="button" value="Find" class="btn btn-success" onClick='getData()'>
         <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
   
        </div>
      </div>
    </div>
  </div>
</div>


<table id="example" class="display" style="width:100%">
    <thead>
	    <tr>
            <th class="text-center">Name</th>
            <th>Barangay</th>
            <th>Information</th>
            <th>Family member</th>
            <th>Edit</th>
         
	    </tr>
    </thead>
   
    </table>
 <a href="/family/"></a>
</div>    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script>
    async function getData(){
        await $('#example').DataTable().clear().destroy();
        var barangay = document.getElementById('regions').value;
        axios.get(`/staff/household/${barangay}`)
        .then((res)=>{
            console.log(res.data)
            $("#example").DataTable({
                
    				data:res.data,
                    dom:'Bfrtip',
    				"columns":[
    					{"data":"name"},
    					{"data":"barangay"},
    					
                        {
                            "data":null,
                            "bSortable": false,
                            "mRender": function (o) { return `<button class='btn btn-success' onclick=getInfo("${o._id}");>` +'view'+'</button>'; }
                        },
                        {
                            "data":null,
                            "bSortable": false,
                            "mRender": function (o) { return `<a href="/family/${o._id}" class='btn btn-success'>view</a>`; }
                        }, {
                            "data":null,
                            "bSortable": false,
                            "mRender": function (o) { return `<a href="/edit/${o._id}" class='btn btn-success'>edit</a>`; }
                        }

            
            
    				],
                    
                    
                    buttons: [
            {
                extend: 'pdfHtml5', 
                exportOptions: {
                    columns: [ 0, 1 ]
                },
                download: 'open',

               customize: function ( doc ) {
doc.content[1].table.widths = [
'50%',
'50%',
'50%',
'50%',
'10%',
'10%',
'5%'
]
}
            }
        ]


    			 });
        })
    }

function getInfo(data){
  var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
  var modelBody= document.getElementById('modal-body')
  axios.get(`/barangay/info/${data}`)
  .then((res)=>{
    console.log(res.data)
    data = res.data.person,
    imag= res.data.src

    modelBody.innerHTML =`<div class=\"container\">
                <div class=\"row align-items-start\">
                  <div class=\"col-5\">
                    <div class=\"d-flex flex-column\">
                      <img src=\"${res.data.src}\" alt=\"\">
                      <a href="${res.data.src}" download class=\"btn btn-success">Download</a>
                    </div>
                  </div>
                  <div class=\"col-6\">
                    <div class=\"mb-3\">
                      <label for=\"name\" class=\"form-label\">Name</label>
                      <input type=\"text\" name=\"name\" id=\"name\" class=\"form-control\" value=\"${data.name.toUpperCase()}\" readonly=\'readonly\'>
                      <label for=\"barangay\" class=\"form-label\">Barangay</label>
                      <input typ
                      +e=\"text\" name=\"barangay\" id=\"barangay\" class=\"form-control\" value=\"${data.barangay}\" readonly=\'readonly\'>
                      <label for=\"sector\" class=\"form-label\">Sector</label>
                      <input type=\"text\" name=\"sector\" id=\"sector\" class=\"form-control\" value=\"${data.sector}\" readonly=\'readonly\'>
                      <label for=\"beneficiary\" class=\"form-label\">Beneficiary</label>
                      <input type=\"text\" name=\"beneficiary\" id=\"beneficiary\" class=\"form-control\" value=\"${data.beneficiary}\" readonly=\'readonly\'>
                      <label for=\"contactNumber\" class=\"form-label\">Contact Number</label>
                      <input type=\"text\" name=\"contactNumber\" id="contactNumber\" class=\"form-control\" value=\"${data.contactNumber}\" readonly=\'readonly\'>
                      <label for=\"occupation\" class=\"form-label\">Occupation</label>
                      <input type=\"text\" name=\"occupation\" id=\"occupation\" class=\"form-control\" value=\"${data.occupation}\" readonly=\'readonly\'>
                      <label for=\"income\" class=\"form-label\">Income</label>
                      <input type=\"text\" name=\"income\" id=\"income\" class=\"form-control\" value=\"${data.income}\" readonly=\'readonly\'>
                      <label for=\"workplace\" class=\"form-label\">Workplace</label>
                      <input type=\"text\" name=\"workplace\" id=\"workplace\" class=\"form-control\" value=\"${data.workplace}\" readonly=\'readonly\'>
                      <label for=\"civilStatus\" class=\"form-label\">Civil Status</label>
                      <input type=\"text\" name=\"civilStatus\" id=\"civilStatus\" class=\"form-control\" value=\"${data.civilStatus}\" readonly=\'readonly\'>
                      <label for=\"education\" class=\"form-label\">Education</label>
                      <input type=\"text\" name=\"workplace\" id=\"workplace\" class=\"form-control\" value=\"${data.education}\" readonly=\'readonly\'>
                      <label for=\"health\" class=\"form-label\">Health</label>
                      <input type=\"text\" name=\"health\" id=\"health\" class=\"form-control\" value=\"${data.health}\" readonly=\'readonly\'>
                  </div>  
                  </div>
                </div>
            </div>`
    myModal.show()
  })

}
</script>