<% layout('layouts/sidebar')%> 


 <div class="row">
    <h1 class="text-center">Send Goods to Barangay</h1>
    <p class="text-center">NOTE! PAG MAG SEND KA SA BARANGAY MAIIBANAN M STOCK</p>
    <p class="text-center">PARA MA IMUD MO KUN NA IBANAN M STOCK PAG LOG IN SAIM ADMIN ACCOUNT
        KADTO SA INVENTORY IG CHECK KUN NAIBANAN GUD MAN AN STOCK
        KAILANGAN LAT NA M IG SESEND AVAILABLE SAIM STOCK!!!!!!
    </p>
        <h1 class="text-center">Goods Information</h1>
        <div class="col-6 offset-3">
            <form action="/staff/send" method="post">
                <div class="mb-3">
                    <label for="category" class="form-label">Select the Goods u want to send</label>
                    <select name="category" id="category" class="form-select">
                        <option selected>Select Goods</option>
                        <option name="instant noodles">instant noodles</option>
                        <option name="noddles">noddles</option>
                        <option name="rice">rice</option>
                        <option name="chicken meat">chicken meat</option>
                        <option name="beef meat">beef meat</option>
                        <option name="pork meat">pork meat</option>
                        <option name="coffee">coffee</option>
                        <option name="milk">milk</option>
                    </select>
                    </div>
                    <div class="mb-3">
                        <label for="regions" class="form-label">Destination</label>
                        <select name="destination" id="regions" class="form-select">
                            <option selected>Open this select menu</option>
                            <% for(barangay of barangays) {%>
                                <option value="<%= barangay.name%> "><%=barangay.name%>  </option>
                                <% } %>  
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="regions" class="form-label">Units</label>
                        <select name="units" id="regions" class="form-select">
                            <option selected>Select Units</option>
                                <option value="kg">Kg</option>
                                <option name="pcs">pcs</option> 
                        </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" name="quantity" id="quantity" class="form-control">
                            
                        </div> 

                        <input type="submit" value="submit" class="btn btn-success" >
                </div>
              
                
                
        
        
        
        
            </form>
        </div>
            


