
<% layout('layouts/sidebar')%> 

<h1 class="text-center">List Of All Transactions</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Commodity</th>

        <th scope="col">Destination</th>
        <th scope="col">Quantity</th>
      
    </thead>
    <tbody id="tbody">
        <% for (data of transaction) {%>
    <tr>
       
            <th scope="col"><%=data.name %> </th> 
            <th scope="col"><%= data.destination  %> </th>
            <th scope="col"> <%=data.quantity.number  %><%=data.quantity.units%> </th>
            
       
    </tr>
    <% } %>
    </tbody>
  </table>